{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container">
        <div class="row col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">{{wtf.quick_form(form)}}</div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% block footer%}
    <div class="page-footer font-small blue pt-4"class="container-fluid" style="position: absolute;
    bottom: 0;
    width: 100%;
     background-color: black;" >
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="font-size:large ; color:white">© 2020 Copyright:
            <a href="/"> Pitch.com</a>
        </div>
        <!-- Copyright -->
    </div>
    {% endblock%}
   
{% endblock%}